/* PageSpeed Ninja 1.4.5 | pagespeed.ninja/license.html */
.psn-licensekey-notice.notice.notice-alt {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#psn-licensekey-notice-wrap {
    width: 100%;
    box-sizing: border-box;
    gap: 20px;
    color: #333;
    border: 1px solid #FAC301;
    background-color: #FFFDE3;
    font-size: 1rem;
    padding: 10px 1.5rem;
}

#psn-licensekey-notice-wrap form {
    gap: 10px 20px;
}

#psn-licensekey-notice-wrap input[type=email] {
    font-size: 0.75rem;
    width: 12rem;
    height: 40px;
    max-width: 100%;
    line-height: 1;
    padding: 0.5rem 0.75rem;
    border: 1px solid #E24B5D;
    border-radius: 4px;
    color: #000;
}

#psn-licensekey-notice-wrap input[type=submit] {
    font-size: 0.75rem;
    padding: 0 1rem;
    color: #FFF;
    background-color: #E24B5D;
    border-radius: 4px;
    height: 40px;
    line-height: 40px;
    border: none;
}
