/* PageSpeed Ninja 1.4.5 | pagespeed.ninja/license.html */
#wp-admin-bar-pagespeed-ninja .ab-icon:before {
    top: 2px;
    content: url('../image/pagespeed-ninja-logo.svg');
    opacity: 0.75;
}

#wp-admin-bar-pagespeed-ninja .ab-sub-wrapper .ab-empty-item {
    opacity: 0.5;
}

#wp-admin-bar-pagespeed-ninja-upgrade-to-pro a span {
    color: #fffe10;
    background-color: #2c3338;
    display: inline-block;
    width: 100%;
    line-height: 100%;
}
