/* PageSpeed Ninja 1.4.5 | pagespeed.ninja/license.html */
#psn-pro-banner {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-items: center;
            align-items: center;
    padding: 20px 1.5rem;
    gap: 10px 40px;
    background-color: #fffde3;
    border: 1px solid #fac301;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    font-weight: 400;
    position: -webkit-sticky;
    position: sticky;
    top: 36px;
    top: calc(var(--wp-admin--admin-bar--height, 32px) + 4px);
    z-index: 4;
    text-align: center;
    line-height: 1.5;
}

@media screen and (max-width: 600px) {
    #psn-pro-banner {
        top: 0;
    }
}

#psn-pro-banner > a {
    display: inline-block;
    padding: 0 2rem;
    color: #fff;
    background-color: #E24B5D;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 600;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
    text-transform: uppercase;
    text-decoration: none;
    line-height: 40px;
    height: 40px;
    border: none;
}

@media screen and (max-width: 782px) {
    #psn-pro-banner {
        -webkit-flex-direction: column;
                flex-direction: column;
        -webkit-align-items: center;
                align-items: center;
        text-align: center;
        padding: 10px 1.5rem;
    }

    #psn-pro-banner > span {
        -webkit-align-self: stretch;
                align-self: stretch;
    }
}

@media screen and (max-width: 360px) {
    #psn-licensekey-notice-wrap input[type=email] {
        width: 9rem;
    }
}
